
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f [OR]
	RewriteCond %{REQUEST_URI} ^index.php
	RewriteRule ^(.*)$ index.php/$1 [QSA,L]
	
	#trick to make it simple to get the requested elements *after* index.php:
	SetEnv USE_URI_PROTOCOL PATH_INFO
</IfModule>
